/.gradle
/.idea
/eclipse
/build
/classes

/*-fml.txt
/MinecraftForge-*.txt
/README.txt
/forge-*-changelog.txt
/Paulscode * License.txt
/*.iml

*.bak
*.rhl
/run

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/dummy/accesstransformer.cfg
